
{% extends "layout.html" %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="row card">
                <div class="col-md-12 bg-blue">
                    <p>bg image repeat</p>
                </div>
            </div> 
            
            <div class="row card">
                <div class="col-md-12">
                    <table class="table table-borderless">
                        <tr><td colspan="3">
                            <p class="text-center">{{myuser.name}}</p>
                            <p class="text-center">@{{myuser.username}}</p>
                        </td></tr>
                        <tr>
                            <td class="text-center"><a href="/profile"><span>Tweets</span><br><span>{{cnt_tweets}}</span></a></td>
                            <td class="text-center">
                                <a href="/following"><span>Following</span><br><span>{{followed}}</span></a>
                            </td>
                            <td class="text-center">
                                <a href="/follower"><span>Followers</span><br><span>{{follower}}</span></a>
                            </td>
                        </tr>                    
                    </table>
                </div>
            </div>
            <br>
            
            {% if myuser.description %}
            <div class="row card">
                <div class="col-md-12">
                    <p>{{ myuser.description }}</p>
                </div>
            </div>
            {% else %}
            <div class="row card">
                <div class="col-md-12">
                    <form method="POST" action="/update">
                        <div class="form-group">
                            <label for="description"><b>Introduce your self</b></label>
                            <label><small>Describe who you are and what you're into.</small></label>
                            <textarea class="form-control" id="description" name="content" rows="3"></textarea>
                        </div>
                        <button class="btn btn-info" type="submit" Value="description" name="button">Save</button>
                    </form>                
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Peoples</h4>
                    <ul class="list-group">                
                    {% for i in searched_users %}
                        <li class="list-group-item">
                            <form method="POST" action="/profile">
                                <button class="btn btn-link" type="submit" name="button" value="{{i}}">@{{i}}</button>
                            </form>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h4>Tweets</h4>
                    {% for i in range(cnt) %}
                    <div class="card">
                        <div class="card-header">
                            <form method="POST" action="/profile">
                                <p><button class="btn btn-link" type="submit" name="button" value="{{searched_tweets[i].username}}">@{{searched_tweets[i].username}}</button>
                                    / {{searched_tweets[i].timestamp}}
                                </p>
                            </form>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ searched_tweets[i].text }}</p>
                            {% if not images[i] == None %}
                            <img src="{{images[i]}}" class="img-thumbnail" />
                            {% endif %}
                            <br>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
